.centerPos {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* ← ocupa toda la altura de la pantalla */
    width: 100vw;
    /* ← opcional, por si necesitás también el ancho completo */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    backdrop-filter: blur(10px);
}

.loader {
    border: 5px solid #b66767;
    border-top: 5px solid hsla(12, 75%, 54%, 0.5);
    border-radius: 50%;
    width: 40px;
    /* un poco más grande para que se vea bien */
    height: 40px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}