/* Set the overall body and app container to use grid */

#root {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 20px; /* Adds space between the two grid items */
  height: 100vh;
  width: 100vw;
  grid-template-rows: 1fr; /* Single row layout */
}

/* Left Side (sidebar) */
.leftSide {
  background-color: #f4f4f4;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}




/* Main content area */
.mainSide {
  background-color: #fff;
  padding: 20px;
  overflow-y: auto;
}
